body{
    background-color: #1424141f;
}

.navigation{
 width: 70%;
 /*background-color:red;*/

 margin: auto;
 display: flex;
 align-items: center;
 flex-direction: row;
 justify-content: space-between;
}
.logo{
  color:pink
}
.navlinks a{
  color:purple;
  text-decoration: none;
  margin: 16px;
}

.hero {
    width: 100%;
    height: 8 0vh;
    overflow: hidden;
    position: relative;
  }

  .hero p {
    font-size: 200%;
    color: blue;
  }

  .hero button{
    font-size: 100%;
    color: rgba(132, 13, 244, 0.865);
  }
  .hero img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    display: block;
  
  }
  .hero-content{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color: purple;
  }
  .hero-content h1{
    font-size: 48px;
    margin: 0;
    color: rgb(20, 220, 20);
  }


  .mission{
    color:white;
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    margin-top: 4rem;
}
.reject
{
    background-color:purple;
    width: 25%;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
}
.reject > img{
  width: 40%;
  height: auto;
}
.oteyo > h1{
   margin: auto;
   width: 30%;
   border: 3px;
   padding: 10px;
}
.von{
  margin: auto;
  width: 30%;
  border: 3px;
  padding: 20px;

}